
.footer-section {
    background-color:#BC8F8F;

}

.footer-main {
    color: #000080;
    font-size: 18px;
}

ul {
    list-style: none;
    color: #5a7184;
    font-weight: 500;
}

li {
    font-size: 14px;
    color: #000080;
}


.img {
    height: 2em;
}